/* ========================================
   15. STATISTICS
   ======================================== */
.statistics {
  background-color: var(--main-teal);
}
.stat {
  display: flex;
  flex-wrap: wrap;
}
.stat__item {
  flex: 1 1 0;
  padding: 70px 25px;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: var(--white);
}
.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}
.stat__count {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}
.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}
/* ========================================
   16. SERVICES
   ======================================== */
.services {
  display: flex;
  flex-wrap: wrap;
}
.services__item {
  width: 33.33333%;
  padding: 0 35px 40px 85px;
  position: relative;
  margin-bottom: 40px;
}
.services__item--border {
  border-bottom: 1px solid var(--gray-light);
}
.services__icon {
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 1;
}
.services__title {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--dark-text);
  text-transform: uppercase;
}
.services__text {
  font-size: 15px;
  color: var(--light-text);
}
/* ========================================
   17. WE DO
   ======================================== */
.wedo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.wedo__item {
  width: 50%;
  padding: 0 15px;
}
.wedo__img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ========================================
   18. ACCORDION
   ======================================== */
.accordion input[type="radio"] {
  display: none;
}
.accordion__item {
  margin-bottom: 10px;
  border: 1px solid var(--gray-light);
}
.accordion__header {
  display: block;
  padding: 15px 20px 15px 65px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.accordion__header::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
  -webkit-transition: -webkit-transform 0.3s ease, margin-top 0.3s ease;
  transition: transform 0.3s ease, margin-top 0.3s ease;
}
.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.accordion__title {
  font-size: 14px;
  color: var(--dark-text);
  text-transform: uppercase;
}
.accordion__content {
  max-height: 0;
  overflow: auto;
  font-size: 15px;
  color: var(--light-text);
  font-style: italic;
  font-weight: 300;
  -webkit-transition: max-height 0.3s ease, padding 0.3s ease;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
input[type="radio"]:checked + .accordion__item .accordion__header {
  border-bottom-color: var(--gray-light);
}
input[type="radio"]:checked + .accordion__item .accordion__header::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}
input[type="radio"]:checked + .accordion__item .accordion__content {
  max-height: 130px;
  padding: 0px 10px;
}